.content{

  h1{
    font-size: 1.1em;
    line-height: 1.8em;
  }

  p{
    font-size: 0.9em;
    line-height: 1.5em;
    color: #757575;
  }

  .content-footer{
    background-color: #f6f6f6;
    border-top: solid 1px #e8e8e8;

    .wrapper-inner {
      padding: 10px 0;
      .columns{
        padding-bottom: 0;
      }

      p {
        font-size: 0.8em;
        line-height: 1.5em;
        color: #757575;
      }
    }
  }
}