.footer.container{
  background-color: #f3f3f3;
  p{
    font-size: 0.7em;
    line-height: 1.6em;
    color: #989898;
    margin-bottom: 0;
  }

  .row{
    .columns{
      padding-bottom: 0;
    }
  }
}