.container.header {
  background: #f6f6f6;
}

// Full Width Headers
.header>tbody>tr>td{
  border-bottom: solid 1px #e8e8e8;
}

.header {
  background: #8a8a8a;

  .columns {
    padding-bottom: 0;
  }

  p {
    color: #fff;
    padding-top: 15px;
  }

  .wrapper-inner {
    padding: 20px;
  }

  .container {
    background: transparent;
  }
}