.contact-listing-panel{

  .panel-body{
    padding:15px 0px !important;
  }

  .table{
    tbody{
      tr{
        td{
          padding-top: 12px;

          .avatar{
            img{
            }
          }
          .name{
            color: #757575;
            font-weight: 300;
            text-decoration: none;
            &:hover{
              color:#3f51b5;
            }
          }
          .address-link{
            color: #757575;
            font-weight: 400;
            text-decoration: none;

            &:hover{
              color:#3f51b5;
            }
          }
        }
      }
    }
  }
}
