.contact-requirement{

  .label-manager{
    margin:5px 0 20px 0 ;
    text-align: center;
    line-height: 2.2em;

    &.align-right{
      text-align: right;
      .label:last-child{
        margin-right:0;
      }
    }

    .label{
      cursor:pointer;
      padding:0.75em 1.5em .75em;
      margin-right:5px;

      &.active,
      &:focus,
      &:hover{
        background-color:#e6e6e6;
      }

      .icon{
        margin-right:5px;
      }
      &.short-list-btn{
        .badge{
          margin-left: 5px;
        }
      }
    }
  }

  .matching-filter{
    .header{
      background-color: #eee;
      padding: 13px 15px;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
      margin-bottom: 6px;

      .help-block{
        margin:0;
      }

      input[type="text"]{
        border: none;
        outline: none;
        background: transparent;
        padding:0px;
        height: 26px;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }

  .panel-group{

    .panel.panel-default{
      .panel-heading {
        background-color: #eee;
        border-color: #eee;

        .panel-title {
          padding: 0px;
          font-size: 14px;
          font-weight: 300;

          a {
            display: block;
            padding: 15px;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .panel-body{
        padding: 15px;
      }
      .panel-heading+.panel-collapse>.panel-body{
        border-color: #eee;
      }
    }
  }

  .features-list-group{
    padding-left: 0;
    padding-right: 0;

    .list-group {
      .list-group-item {
        padding: 5px 10px;
        background-color: #f9f9f9;
        margin-bottom: 2px;

        &.selected,
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
  .features-list-group-details{
    padding-left: 0;
    padding-right:0;

    .list-group{
      .list-group-item{
        padding: 5px 10px;
        background-color: transparent;
        margin-bottom: 2px;
      }
    }
  }

  .matching-body{

    .header{
      background-color: #eee;
      padding: 15px;
      margin-bottom: 5px;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

      .help-block{
        margin:0;
      }
    }

    .list-group.property-list-group{
      margin-bottom: 0;

      .list-group-item{
        background-color: #f9f9f9;
        position: relative;
        -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 5px 30px 5px 35px;

        .matching {
          position: relative;
          color: #757575;

          .avatar{
            width:80px;
            img{
              -webkit-border-radius:0;
              -moz-border-radius:0;
              border-radius:0;
            }
          }

          .title {
            margin-bottom: 0;
            font-weight: 400;
            color:#757575;
          }
          .price{
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 400;
            color:#f44336;
          }
          .type{
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 0;
          }
          .available{
            font-weight: 400;
            font-size: 13px;
            margin-top: 5px;
            margin-bottom: 0;
            text-align: left;
          }

          .measurement-list{
            list-style-type: none;
            margin:0;
            width:100%;
            border: solid 1px #f9f9f9;
            padding: 0;
            border-radius: 3px;
            background: rgba(221, 221, 221, 0.06);

            .list-item{
              list-style-type: none;
              width: 25%;
              float: left;
              padding: 3px;

              &:nth-child(1){
                border-right:solid 1px #f9f9f9;
                border-bottom:solid 1px #f9f9f9;
              }
              &:nth-child(2){
                border-bottom:solid 1px #f9f9f9;
              }
              &:nth-child(3){
                border-right:solid 1px #f9f9f9;
              }

              .icon-container{
                text-align: center;
                margin-bottom: 0px;

                img{
                  width: 14px;
                }
              }
              .value{
                text-align: center;
                font-weight: 500;
                margin-bottom:0;
                line-height: 14px;
                font-size: 12px;
              }
            }
          }
        }
        .select{
          position: absolute;
          left: 0;
          width:30px;
          bottom: 0;
          top:0;
          padding: 5px;
          text-align: center;

          .checkbox-custom{
            margin-top: 0;
            margin-bottom: 0;
          }
        }
        .actions{
          position: absolute;
          right: 0;
          width:30px;
          bottom: 0;
          top:0;
          padding: 5px;
          text-align: center;

          .action{
            cursor: pointer;

            .icon{
              color:#f22b68;
              margin-right: 0;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
