.property-listing-panel{

  .panel-body{
    padding:15px 0px !important;
  }

  .table{
    tbody{
      tr{

        td{
          padding-top: 12px;
          &.image{
            padding-top:8px;
          }

          .avatar{
            img{
              border-radius: 0;
            }
          }

          .label{
            min-width: 85px;
            display: inline-block;
            padding: 5px;
          }

          .address-link{
            color: #757575;
            font-weight: 400;
            text-decoration: none;

            &:hover{
              color:#3f51b5;
            }
          }
        }
      }
    }
  }
}
