.property-matching{

  .label-manager{
    margin:10px 0 20px 0 ;
    text-align: center;
    line-height: 2.2em;

    &.align-right{
      text-align: right;
      .label:last-child{
        margin-right:0;
      }
    }

    .label{
      cursor:pointer;
      padding:0.75em 1.5em .75em;
      margin-right:5px;

      &.active,
      &:focus,
      &:hover{
        background-color:#e6e6e6;
      }

      .icon{
        margin-right:5px;
      }
    }
  }

  .matching-filter{
    .header{
      background-color: #eee;
      padding: 13px 15px;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
      margin-bottom: 6px;

      .help-block{
        margin:0;
      }

      input[type="text"]{
        border: none;
        outline: none;
        background: transparent;
        padding:0px;
        height: 26px;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }

  .panel-group{

    .panel.panel-default{
      .panel-heading {
        background-color: #eee;
        border-color: #eee;

        .panel-title {
          padding: 0px;
          font-size: 14px;
          font-weight: 300;

          a {
            display: block;
            padding: 15px;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .panel-body{
        padding: 15px;
      }
      .panel-heading+.panel-collapse>.panel-body{
        border-color: #eee;
      }
    }
  }

  .features-list-group{
    padding-left: 0;
    padding-right: 0;

    .list-group {
      .list-group-item {
        padding: 5px 10px;
        background-color: #f9f9f9;
        margin-bottom: 2px;

        &.selected,
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
  .features-list-group-details{
    padding-left: 0;
    padding-right:0;

    .list-group{
      .list-group-item{
        padding: 5px 10px;
        background-color: transparent;
        margin-bottom: 2px;
      }
    }
  }

  .matching-body{

    .header{
      background-color: #eee;
      padding: 15px;
      .help-block{
        margin:0;
      }
    }

    .property-list {
      margin-bottom: 0;
      background-color: #fff;

      .list-group-item {

        &:hover{
          background-color: #f9f9f9;
        }
        &:last-child{
          border-bottom:none;
        }

        .media-left {
          .avatar {
            width: 65px;
            height: 65px;
            border-radius: 65px;
            background-color: #ddd;
            text-align: center;
            line-height: 55px;
            font-size: 23px;
            font-weight: 500;
            border:solid 5px #f2f2f2;
            text-transform: uppercase;

            &:hover{
              border: solid 5px #f9f9f9;
              text-decoration: none;
            }
          }
        }
        .media-body {
          .media-heading{
            cursor: pointer;
          }
          .address{
            font-weight: 400;
            cursor: pointer;
          }
          .email-phone{
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 13px;
          }

          .footer-summary{
            margin-top:10px;
            .help-block{
              display: inline-block;
              margin-top: 0;
              margin-bottom: 0;
            }

            .action-buttons{
              margin-bottom:0;
              .label{
                text-decoration: none;
                margin-right: 10px;
                &:hover{
                  background-color: #f9f9f9;
                  color: #757575;
                }
              }
            }
          }
        }
      }
    }
  }
}
