.table.table-hovered{

  thead{
    tr{
      th{
        border-left: none;
        border-right: none;
        border-top:none;
        text-align: center;
      }
    }
  }

  tbody{
    tr{
      td{
        border-left: none;
        border-right: none;
      }
    }

    tr:nth-child(odd){
      td{
        background-color: #f9f9f9;
      }
    }
    tr:nth-child(even){
      td{
        background-color: #fff;
      }
    }

  }
}