.table{

  thead{
    tr{
      th{
        border: solid 1px #ddd;
        padding: 8px 10px;
        font-weight: 700;
        font-size: 13px;
        background-color: #f3f3f3;
        color:#757575;
      }
    }
  }

  tbody{
    tr{
      td{
        border: solid 1px #f9f9f9;
        padding: 8px 10px;
        font-size: 13px;
        color:#757575;
      }
    }
  }
}