{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
</head>
<body>
<span class="preheader">{{description}}</span>
<table class="body">
    <tr>
        <td class="center style-1-container" align="center" valign="top">
            <center>
                <container class="header">
                    <spacer size="10"></spacer>
                    <row class="collapse">
                        <columns>
                            <center>
                                <img style="width:100px" src="https://ultima-plus.herokuapp.com/dist/images/logo.png"
                                     alt="">
                            </center>
                        </columns>
                    </row>
                    <spacer size="10"></spacer>
                </container>
                {{> body}}
                <container class="footer">
                    <spacer size="10"></spacer>
                    <row class="collapse">
                        <columns>
                            <p class="text-center">&copy; Copyright 2017 Ultima Plus. All Rights Reserved.</p>
                        </columns>
                    </row>
                    <spacer size="10"></spacer>
                </container>
            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

