body{
  background-color: #fff;
  font-family: Roboto;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
}


.first{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  width:50%;
  background-color: #e4dede;

  .image-one{
    position: absolute;
    top: 80px;
    left: 10px;
    width: 400px;
    overflow: hidden;
    height: 410px;
    border: solid 2px #5d4646;
  }
  .image-two{
    position: absolute;
    top: 80px;
    left: 420px;
    width: 240px;
    overflow: hidden;
    height: 200px;
    border: solid 2px #5d4646;

    img{
      width: 152%;
    }
  }

  .image-three{
    position: absolute;
    top: 290px;
    left: 420px;
    width: 240px;
    overflow: hidden;
    height: 200px;
    border: solid 2px #5d4646;

    img{
      width: 152%;
    }
  }
}
.second{
  position: absolute;
  left: 50%;
  top:0;
  bottom: 0;
  width:50%;
  background-color:#fff;
}

.bottom{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  height: 310px;
  background-color:#ada20a;
}
.summary{
  position: absolute;
  left: 0;
  right: 50%;
  bottom: 0;
  height: 310px;
  .inner{
    padding:15px 30px 15px 30px;
  }

  h2{
    color: #1f1f1f;
    font-size: 18px;
    font-weight: 600;
  }

  p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #1f1f1f;
    font-weight: 500;
  }
}

.footer{
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  height: 60px;
  background-color:#fff;
}
.footer-stripe{
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  height: 60px;
  background-color: #f9f9f9;
}

.footer-logo{
  position: absolute;
  left: 75%;
  right: 0;
  bottom: 0;
  height: 60px;
  text-align: right;

  img{
    height: 30px;
    margin-top: 15px;
    margin-right: 15px;
  }
}

.footer-left{
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  height: 60px;
  text-align: left;

  .inner{
    padding-left: 15px;
    padding-top: 10px;
    color: #777;
  }
}