.epc-table{

  .scales{
    padding-top: 23px;

    .scale{
      height:30px;
      border: solid 1px #b7b7b7;
      margin-bottom: 5px;

      .value{
        float: left;
        color: #fff;
        line-height: 30px;
        font-size: 11px;
        padding: 0 5px;
      }
      .letter{
        float: right;
        color: #fff;
        line-height: 30px;
        font-weight: 600;
        padding: 0 6px;
      }
    }

    .scale-a{
      width:70%;
    }
    .scale-b{
      width:75%;
    }
    .scale-c{
      width:80%;
    }
    .scale-d{
      width:85%;
    }
    .scale-e{
      width:90%;
    }
    .scale-f{
      width:95%;
    }
    .scale-g{
      width:100%;
    }
  }

  .slider{
    overflow: hidden;

    .slider-inner{
      height: 240px;
      margin: 30px 0 5px 0;

      .rc-slider-vertical{
        width:100%;
        .rc-slider-rail{
          width: auto;
          left:0;
          right:0;
          background-color: transparent;
        }
        .rc-slider-track{
          background-color: transparent;
        }
      }

      .rc-slider-custom-handle{
        position: absolute;
        cursor: pointer;
        text-align: center;
        left: 0px;
        right: 0px;

        .left{
          width: 15px;
          float: left;
          height: 0px;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid green;
        }
        .right{
          width: -moz-calc(100% - 15px);
          width: -webkit-calc(100% - 15px);
          width: -o-calc(100% - 15px);
          width: calc(100% - 15px);
          float: right;
          background-color: green;
          height: 30px;
          color: #fff;
          line-height: 30px;
          font-weight: 500;
        }
      }
    }
  }
}