.web-links{
  .panel-group {

    .panel.panel-default {
      .panel-heading {
        background-color: #eee;
        border-color: #eee;

        .panel-title {
          padding: 0px;
          font-size: 14px;
          font-weight: 300;

          a {
            display: block;
            padding: 15px;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .panel-body {
        padding: 15px;
      }
      .panel-heading + .panel-collapse > .panel-body {
        border-color: #eee;
      }
    }
  }
}