.timeline.overview-timeline{
  margin-bottom: 0;

  &:before{
    right: -moz-calc(100% - 10px);
    right: -webkit-calc(100% - 10px);
    right: -o-calc(100% - 10px);
    right: calc(100% - 10px);
    left:5px;
    margin-left: 0px;
  }

  > li{
    width:100%;
    float:none;
    padding-left:35px;
    padding-right:0;
    margin-top: 0 !important;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }

    .timeline-dot{
      left: -15px;
    }
    .timeline-info{
      float: left;
      margin-bottom: 15px;
    }
  }
}

.activity-container {
  .filters{
    text-align: right;

    .label{
      margin-right: 5px;
      cursor: pointer;
      .icon{
        display:none;
        margin: 0 0 0 5px;
      }

      &:last-child{
        margin-right: 0;
      }
      &:hover,
      &.active{
        background-color: #fff;
      }
      &.active{
        .icon{
          display:inline-block;
        }
      }
    }
  }

  .list-group {
    margin-bottom: 0;

    .list-group-item {
      background-color: #fff;
      position: relative;
      -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
      -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
      margin-bottom: 5px;

      .icon {
        margin: 0 10px;
      }

      .activity {
        position: relative;
        color: #757575;

        .title {
          margin-bottom: 0;
          font-weight: 400;
          color: #03A9F4;
          font-size: 13px;
        }

        .applicants {
          margin-top: 5px;

          .applicant {
            padding: 2px 0;
            cursor: pointer;
            color: #757575;
            font-weight: 500;

            .name {
              font-size: 13px;
              margin-bottom: 0;
              font-weight: 400;
              color: #03A9F4;
            }
          }
        }

        .footer {
          margin-top: 5px;
          border-top: solid 1px rgba(241, 241, 241, 0.6);
          padding-top: 3px;

          > p {
            color: #ccc;
            margin-bottom: 0;
            font-size: 11px;
            font-weight: 300;

            .time-ago {
              text-align: left;
              .icon {
                margin: 0 10px 0 0;
              }
            }
            .details {
              float: right;
              margin-left: 10px;
              .appraiser {
                margin: 0 10px;
              }
              .status-text {

              }
            }
          }
        }
      }

      &.no-item-found {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background-color: transparent;
        padding: 20px 0;

        .title {
          margin-bottom: 0;
          font-weight: 400;
          color: #757575;
          text-align: center;

          a {
            margin-left: 15px;
            color: #03A9F4;
          }
        }
      }
    }
  }
}