.viewing-list-container {
  .list-group {
    margin-bottom: 0;

    .list-group-item {
      background-color: #fff;
      position: relative;
      -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
      -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
      margin-bottom: 5px;

      .viewing {
        position: relative;
        color: #757575;

        .title {
          margin-bottom: 0;
          font-weight: 400;
          color: #03A9F4;
        }

        .applicants {
          margin-top: 5px;
          position: relative;
          // status label
          .label {
            position: absolute;
            right: 0;
            bottom: 5px;
          }

          .applicant {
            padding: 2px 0;

            .name {
              font-size: 13px;
              margin-bottom: 0;
              font-weight: 400;
            }
            .address {
              margin-bottom: 0;
              font-size: 11px;
              font-weight: 300;
            }
          }
          .more-link{
            margin-bottom: 0;
            font-size: 11px;
            font-weight: 300;
            .icon{
              margin-right:5px;
            }
          }
        }

        .footer {
          margin-top: 5px;
          border-top: solid 1px rgba(241, 241, 241, 0.6);
          padding-top: 3px;

          .appraiser-date {
            color: #ccc;
            margin-bottom: 0;
            font-size: 11px;
            font-weight: 300;

            .time-ago {
              text-align: left;
            }
            .details {
              float: right;

              .date {
                margin-left: 10px;
              }
            }
          }
        }
      }

      &.no-item-found {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background-color: transparent;
        padding: 20px 0;

        .title {
          margin-bottom: 0;
          font-weight: 400;
          color: #757575;
          text-align: center;

          a {
            margin-left: 15px;
            color: #03A9F4;
          }
        }
      }
    }
  }

  .filters {
    text-align: right;

    .label {
      cursor: pointer;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0px;
      background-color: #f9f9f9;

      &:hover{
        background-color: #f5f5f5;
      }
      &.active {
        background-color: #fff;
      }
      &:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0px;
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }
      &:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        border-right-width: 1px;
      }
    }
  }
  .actions{
    text-align: left;

    .label {
      cursor: pointer;
      background-color: #fff;

      .icon{
        margin-right: 5px;
      }

      &:hover{
        background-color: #f9f9f9;
      }
      &.active {
        background-color: #fff;
      }
    }
  }
}