.overview-section {

  .section-left {

    h4{
      font-size: 16px;
      color:#757575;
    }
    .price{
      color: #f44336;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .owners{
    margin:20px 0px;

    .owner{
      padding:10px 10px 10px 0;
      border-radius: 5px;
      margin-bottom: 10px;

      .heading{
        margin-bottom:5px;
        color:#757575;
      }
      .email{
        margin-bottom:5px;

        a{
          font-weight:400;
        }
      }
      .telephone{
        margin-bottom:5px;

        a{
          font-weight:400;
        }
      }
    }
  }

  .measurement-list{
    list-style-type: none;
    margin: 0;
    padding:0;
    width:100%;

    .list-item{
      list-style-type: none;
      width: 20%;
      float: left;
      padding: 10px;

      .icon-container{
        text-align: center;
        img{
          width: 24px;
        }
      }
      .unit{
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        color: #ccc;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .title{
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 0;
      }
      .value{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-bottom:0;
      }
    }
  }

  .photos-viewer {
    margin: 15px 0;

    .main-photo {
      width: 60%;
      float: left;
      padding:5px 5px 5px 0px;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    .photo-thumbnails {
      width: 40%;
      float: right;

      .item {
        width: 50%;
        float: left;
        padding: 3px;
        cursor: pointer;

        img{
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }

  .nav-tabs-horizontal{
    .nav-tabs{
      li{
        a{
          padding:10px 15px;
        }
      }
    }

    .tab-content{
      padding: 0;
      .scrolling-area{
        padding: 20px;
      }
    }
  }
}