.list-group.market-appraisal-group{
  margin-bottom: 0;

  .list-group-item{
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    margin-bottom: 5px;

    .market-appraisal {
      position: relative;
      color: #757575;

      .title {
        margin-bottom: 0;
        font-weight: 400;
        color:#03A9F4;
      }

      .table{
        margin-top:10px;
        margin-bottom: 10px;

        tbody{
          tr{
            td{
              font-size: 13px;
              font-weight: 400;
              padding: 6px;
              border-top:none;
            }
          }
        }
      }

      .footer{
        margin-top: 5px;
        border-top: solid 1px rgba(241, 241, 241, 0.6);
        padding-top: 3px;

        .appraiser-date{
          color: #ccc;
          margin-bottom: 0;
          font-size: 11px;
          font-weight: 300;

          .time-ago{
            text-align: left;
          }
          .details {
            float: right;

            .date {
              margin-left: 10px;
            }
          }
        }
      }
    }

    &.no-item-found {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background-color: transparent;
      padding : 20px 0;

      .title {
        margin-bottom: 0;
        font-weight: 400;
        color:#757575;
        text-align: center;

        a{
          margin-left: 15px;
          color:#03A9F4;
        }
      }
    }
  }
}