.list-group.offer-list-group{
  margin-bottom: 0;

  .list-group-item{
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    margin-bottom: 5px;

    .offer {
      position: relative;
      color: #757575;

      .title {
        margin-bottom: 0;
        font-weight: 400;
        color:#03A9F4;

        .icon{
          margin:0 5px;
        }
      }

      .description{
        margin-bottom: 0;
        font-weight: 400;
        font-size: 13px;
        margin-top:5px;

        .icon{
          margin:0 5px;
        }
      }

      .applicants{
        margin-top: 5px;

        .applicant{
          padding: 2px 0;
          cursor: pointer;
          color:#757575;
          font-weight: 500;

          .name {
            font-size: 13px;
            margin-bottom: 0;
            font-weight: 400;
            color:#03A9F4;
          }
        }
      }

      .owners{
        margin-top: 5px;

        .owner{
          padding: 2px 0;
          cursor: pointer;
          color:#757575;
          font-weight: 500;

          .name {
            font-size: 13px;
            margin-bottom: 0;
            font-weight: 400;
            color:#03A9F4;
          }
        }
      }

      .footer{
        margin-top: 5px;
        border-top: solid 1px rgba(241, 241, 241, 0.6);
        padding-top: 3px;

        .appraiser-date{
          color: #ccc;
          margin-bottom: 0;
          font-size: 11px;
          font-weight: 300;

          .time-ago{
            text-align: left;
          }
          .details {
            float: right;

            .date {
              margin-left: 10px;
            }
          }
        }
      }
    }

    &.no-item-found {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background-color: transparent;
      padding : 20px 0;

      .title {
        margin-bottom: 0;
        font-weight: 400;
        color:#757575;
        text-align: center;

        a{
          margin-left: 15px;
          color:#03A9F4;
        }
      }
    }
  }
}