.table.owners-table{
  tbody{
    tr{
      cursor:pointer;
      td{
        padding-top: 12px;

        .avatar{
          img{
          }
        }

        .label{
          cursor:pointer;
          &.label-default{
            &:hover{
              background-color:#ddd;
            }
          }
          &[disabled]{
            opacity: 0.7;
            pointer-events: none;
          }
        }
        .address-link{
          color: #757575;
          font-weight: 400;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

    tr.no-record-found{
      td:{
        padding-bottom:12px;
      }
    }
  }
}