---
subject: Appointment Cancelled
---

<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>Hi, \{{contact.firstPerson.forename}}</h1>
            <p>I am pleased to inform you that your General appointment schedule have been cancelled. I regretted for this inconvenience.</p>
        </columns>
    </row>
    <row>
        <columns>
            <table class="table table-hovered">
                <colgroup>
                    <col width="50%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2">Cancelled Appointment Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date & Time</td>
                        <td>\{{appointment.startDate}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>No 421, Alexdanra Avenue, Harrow</td>
                    </tr>
                    <tr>
                        <td>Agenda</td>
                        <td>\{{appointment.type}}</td>
                    </tr>
                    <tr>
                        <td>Appraiser</td>
                        <td>\{{appointment.appraiser.forename}} \{{appointment.appraiser.surname}}</td>
                    </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                Thanks
                <br/>
                \{{appointment.createdBy.forename}}
            </p>
        </columns>
    </row>
    <wrapper class="content-footer">
        <row>
            <columns>
                <p>
                    For any queries or assistance please contact us at <a target="_blank" href="mailto:support@ultimaplus.com">support@ultimaplus.com</a>
                </p>
            </columns>
        </row>
    </wrapper>
</container>