---
subject: Viewing Confirmation
---

<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>Hi, \{{contact.firstPerson.forename}}</h1>
            <p>I am pleased to inform you that your Market Appraisal appointment schedule have been changed. I regretted for this inconvenience.</p>
        </columns>
    </row>
    <row>
        <columns>
            <table class="table table-hovered">
                <colgroup>
                    <col width="50%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2">Appointment Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date & Time</td>
                        <td>\{{appraisal.date}} \{{appraisal.startTime}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>\{{property.address.fullAddress}}</td>
                    </tr>
                    <tr>
                        <td>Appraiser</td>
                        <td>\{{appraisal.appraiser.forename}} \{{appraisal.appraiser.surname}}</td>
                    </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns>
            <p>I would appreciate it if you would take your spare time to share the occasion with me and I am looking forward to meeting with you in order to discuss marketing advice and all of your property requirements.</p>
            <p>And I am requesting you to bring the following needs:</p>
            <div>
                <ol class="list">
                    <li>Title Deed</li>
                    <li>Current utility bill</li>
                    <li>Identity proof (passport or driving license)</li>
                </ol>
            </div>
            <p>If you are unable to keep the appointment, please let me know so that I can re-schedule.</p>
            <p>
                Thanks
                <br/>
                \{{appraisal.createdBy.forename}}
            </p>
        </columns>
    </row>
    <wrapper class="content-footer">
        <row>
            <columns>
                <p>
                    For any queries or assistance please contact us at <a target="_blank" href="mailto:support@ultimaplus.com">support@ultimaplus.com</a>
                </p>
            </columns>
        </row>
    </wrapper>
</container>