---
subject: Change Password
---
<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>Hi, \{{user.forename}}</h1>
            <p>This is a confirmation that the password for your account has been changed successfully.</p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button target="_blank" href="\{{META.APP_BASE_URL}}#/login"
                        class="radius large">Click here to login
                </button>
            </center>
        </columns>
    </row>
    <row>
        <columns>

            <p>If you do not request a password reset, please ignore this email or reply to let us know. This
                password reset is only
                valid for next 30 minutes.</p>
            <p>
                Thanks,
                <br/>
                Ultima Plus Team
            </p>
        </columns>
    </row>
    <wrapper class="content-footer">
        <row>
            <columns>
                <p>
                    For any queries or assistance please contact us at <a target="_blank" href="mailto:support@ultimaplus.com">support@ultimaplus.com</a>
                </p>
            </columns>
        </row>
    </wrapper>
</container>