---
subject: Send Details To Vendor
---

<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>PROPERTY MISDESCRIPTIONS ACT 1991</h1>
            <p>VALIDATION CERTIFICATE</p>
            <p>The Property Misdescriptions Act 1991 requires estate agents to ensure that sales particulars are true and accurate. If the attached draft sales particulars are inaccurate in any way please return them with any necessary amendments. If any of the information in the sales particulars change in the future it is important you notify us.</p>
            <p>Please return this confirmation as soon as possible, as we will not be able to market your property until we receive this form back and signed by you.</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>NAME AND ADDRESS OF SELLER(S)</p>
            <p>\{{contact.firstPerson.forename}} \{{contact.firstPerson.surname}}</p>
            <p>\{{contact.address.fullAddress}}</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>PROPERTY ADDRESS:</p>
            <p>\{{details.property.address.fullAddress}}</p>
        </columns>
    </row>
    <row>
        <columns>
            <br/>
            <p>SELLERS CONFIRMATION</p>
            <p>1. I/we confirm the sales particulars are a true and accurate representation of the property, and the estate agent will be notified of any changes.</p>
            <p>2. I/we confirm the estate agents will be notified of the removal of any fixtures and fittings mentioned in the sales particulars.</p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                <br/>
                \{{createdAt}}
            </p>
        </columns>
    </row>
</container>