---
subject: Forgot Password
---

<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>Hi, \{{user.forename}}</h1>
            <p>
                You recently requested to reset your password for your Ultima Plus account. Click the button
                below to reset it.</p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button target="_blank" href="\{{META.APP_BASE_URL}}#/change-password/\{{request.token}}"
                        class="radius large">Reset your password
                </button>
            </center>
        </columns>
    </row>
    <row>
        <columns>

            <p>If you do not request a password reset, please ignore this email or reply to let us know. This
                password reset is only
                valid for next 30 minutes.</p>
            <p>
                Thanks,
                <br/>
                Ultima Plus Team
            </p>
            <p>
                <b>P.S.</b> We also love hearing from you and helping you with any issues you have. Please reply
                to this email if you want to ask a question
                or just say hi.
            </p>
        </columns>
    </row>
    <wrapper class="content-footer">
        <row>
            <columns>
                <p>If you have trouble clicking the password reset button, copy and paste the URL below into your
                    browser.</p>
                <p>
                    <a target="_blank" href="\{{META.APP_BASE_URL}}#/change-password/\{{request.token}}">\{{META.APP_BASE_URL}}#/change-password/\{{request.token}}</a>
                </p>
            </columns>
        </row>
    </wrapper>
</container>