---
subject: Invitation
---

<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>Hi \{{user.forename}},</h1>
            <p>\{{invitedBy.forename}} has invited you to join Goran Gates team in <a href="\{{META.APP_BASE_URL}}" target="_blank">\{{META.APP_NAME}}</a>, a private network for inside your
            company is about to expire.</p>
            <p>Your coworkers are currently using Ultima Plus to manage properties. Each of your coworker has a profile, and you
            can see what they are working on.</p>

        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button target="_blank" href="\{{META.APP_BASE_URL}}#/change-password/\{{request.token}}"
                        class="radius large">Accept Invitation
                </button>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                Thanks,
                <br/>
                Ultima Plus Team
            </p>
        </columns>
    </row>
    <wrapper class="content-footer">
        <row>
            <columns>
                <p>If you have trouble accepting the invitation, copy and paste the URL below into your
                    browser.</p>
                <p>
                    <a target="_blank" href="\{{META.APP_BASE_URL}}#/change-password/\{{request.token}}">\{{META.APP_BASE_URL}}#/change-password/\{{request.token}}</a>
                </p>
            </columns>
        </row>
    </wrapper>
</container>