---
subject: Viewing Cancelled
---

<container class="content">
    <spacer size="10"></spacer>
    <row>
        <columns>
            <h1>Hi \{{contact.firstPerson.forename}},</h1>
            <p>\{{emailMessage.line1}}</p>
        </columns>
    </row>
    <row>
        <columns>
            <table class="table table-hovered">
                <colgroup>
                    <col width="50%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2">Cancelled Viewing Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date & Time</td>
                        <td>\{{viewingDate}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>\{{property.address.fullAddress}}</td>
                    </tr>
                    <tr>
                        <td>Appraiser</td>
                        <td>\{{viewing.appraiser.forename}} \{{viewing.appraiser.surname}}</td>
                    </tr>
                </tbody>
            </table>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                Thanks
                <br/>
                \{{viewing.createdBy.forename}}
            </p>
        </columns>
    </row>
    <wrapper class="content-footer">
        <row>
            <columns>
                <p>
                    For any queries or assistance please contact us at <a target="_blank" href="mailto:support@ultimaplus.com">support@ultimaplus.com</a>
                </p>
            </columns>
        </row>
    </wrapper>
</container>