
.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active, .alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover, .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):active, .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):hover {
  background-color: rgba(0, 0, 0, .05)
}

.alertify .alert nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus, .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button):focus {
  border: 1px solid rgba(0, 0, 0, .1)
}

.alertify .alert nav button.btn, .alertify .dialog nav button.btn {
  margin: 6px 4px
}

.alertify-logs {
  position: fixed;
  z-index: 1
}

.alertify-logs.bottom, .alertify-logs:not(.top) {
  bottom: 16px
}

.alertify-logs.left, .alertify-logs:not(.right) {
  left: 16px
}

.alertify-logs.left > *, .alertify-logs:not(.right) > * {
  float: left;
  transform: translateZ(0);
  height: auto
}

.alertify-logs.left > .show, .alertify-logs:not(.right) > .show {
  left: 0
}

.alertify-logs.left > *, .alertify-logs.left > .hide, .alertify-logs:not(.right) > *, .alertify-logs:not(.right) > .hide {
  left: -110%
}

.alertify-logs.right {
  right: 16px
}

.alertify-logs.right > * {
  float: right;
  transform: translateZ(0)
}

.alertify-logs.right > .show {
  right: 0;
  opacity: 1
}

.alertify-logs.right > *, .alertify-logs.right > .hide {
  right: -110%;
  opacity: 0
}

.alertify-logs.top {
  top: 65px;
}