﻿

@media (min-width: 768px){
    .form-horizontal.custom-form{

        .form-group{
            .col-sm-1, 
            .col-sm-10, 
            .col-sm-11, 
            .col-sm-12, 
            .col-sm-2, 
            .col-sm-3, 
            .col-sm-4, 
            .col-sm-5, 
            .col-sm-6, 
            .col-sm-7, 
            .col-sm-8, 
            .col-sm-9
            {
                padding-right:5px;
                padding-left:5px;
            }
        }
    }
}

// input groups
.input-group{
    .input-group-addon{
        cursor: pointer;
    }
}

// hiding cross symbol
.form-control::-ms-clear{
  display: none;
  width : 0;
  height: 0;
}
