﻿.modal {
  padding-left: 0 !important;
  z-index: 1600;

  .modal-header {
    background-color: #E91E63;

    .modal-title {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding:15px;
    @import "modal/describe-property";
    @import "modal/nav-tabs";
    @import "modal/panel-groups";
    @import "modal/viewing-applicants-listing";
    @import "modal/details-to-vendor";
  }

  @import "modal/media-slide-show";
  @import "modal/modal-viewing";
  @import "modal/modal-viewing-confirmation";
}

.brochure-setup-modal {
  width: 1024px;
  .modal-body {
    background: #f9f9f9;
  }
}

