.page {
  background-color: rgba(33, 33, 33, .05);
  .page-content {
    padding:0px 15px;

    .panel.panel-transparent:first-child{
      margin-bottom: 0;

      .panel-body{
        //padding: 15px 0;
      }
    }
  }
}
