//.panel-group .panel {
//  -webkit-box-shadow: none;
//  box-shadow: none;
//}
//.panel-group .panel-title {
//  position: relative;
//  padding: 0px;
//  font-size: 14px;
//}
//
//.panel-group .panel-title:hover,
//.panel-group .panel-title:focus {
//  color: #757575;
//  text-decoration: none;
//}
//.panel-group .panel-title:focus {
//  outline: none;
//}
//.panel-group .panel-heading + .panel-collapse {
//  margin: 0;
//}
//.panel-group .panel-collapse .panel-body {
//  padding:0 10px 10px 10px;
//}
//.panel-group .panel-heading + .panel-collapse .panel-body {
//  border-top-color: transparent;
//}
//.panel-group .panel + .panel {
//  margin-top: 10px;
//}
//
//.panel-group-simple .panel {
//  background: transparent;
//  -webkit-box-shadow: none;
//  box-shadow: none;
//}
//.panel-group-simple .panel-title {
//  padding-bottom: 10px;
//  padding-left: 0;
//}
//.panel-group-simple .panel-title:before,
//.panel-group-simple .panel-title:after {
//  right: 5px;
//}
//.panel-group-simple .panel-collapse .panel-body {
//  padding-top: 10px;
//  padding-right: 0;
//  padding-left: 0;
//}
//.panel-group-simple .panel + .panel {
//  margin-top: 0;
//}
//
//.panel-group-continuous{
//  .panel {
//    border-radius: 0;
//    &:first-child{
//      border-radius: 4px 4px 0 0;
//    }
//    &:last-child{
//      border-radius: 0 0 4px 4px;
//    }
//
//    .panel-heading{
//      background-color: #fff;
//      .panel-title{
//        cursor: pointer;
//        a{
//          text-decoration: none;
//          font-weight: 200;
//          padding:15px;
//          display: block;
//        }
//      }
//    }
//  }
//  .panel + .panel{
//    margin-top: 0;
//    border-top: 1px solid #e0e0e0;
//    .panel-heading{
//      border-radius: 0;
//    }
//  }
//}