.contact-overview {
  .section-left {

    .contact-name {
      color: #757575;
      font-size:18px;
      font-weight: 400;
    }
    .contact-address {
      color: #757575;
      font-size: 15px;
      font-weight: 300;
    }

    .telephone {
      .help-block {
        display: inline-block;
      }
    }
  }

  .section-right {

    .matching-container {
      min-height: 465px;

      .list-group {
        margin-bottom: 0;
        background-color: #fff;

        .list-group-item {

          &:last-child {
            border-bottom: none;
          }

          .media-left {
            .avatar {
              width: 60px;
              img {
                border-radius: 0;
              }
            }
          }
          .media-body {
            .price {
              font-weight: 500;
              margin-bottom: 5px;
            }
            .address {
              font-weight: 400;
              margin-bottom: 0;
            }
            .description {
              margin-top: 10px;
              margin-bottom: 0px;
            }

            .footer {
              margin-top: 10px;
              .action-buttons {
                .label {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }

    .nav-tabs-horizontal{
      .nav-tabs{
        li{
          a{
            padding:10px 15px;
          }
        }
      }

      .tab-content{
        padding: 0;
        .scrolling-area{
          padding: 20px;
        }
      }
    }
  }

}