.table.property-table{
  tbody{
    tr{
      td{
        padding-top: 12px;
        &.image{
          padding-top:8px;
        }

        .avatar{
          img{
            border-radius: 0;
          }
        }

        .label{
          cursor:pointer;
          &.label-default{
            &:hover{
              background-color:#ddd;
            }
          }
        }
        .address-link{
          color: #757575;
          font-weight: 400;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}