table.container{
  width:100% !important;
}

.editable-block{
  padding-top: 0px;
  padding-bottom: 3px;
  outline: none;
  border-bottom: dashed 1px #c5c5c5;
  &:focus{
    border-bottom: dashed 1px #555;
  }
}