---
subject: Invitation
---
<div class="first">
    <div class="image-one">
        <img src="http://media.rightmove.co.uk/36k/35084/42958436/35084_BTN130052_IMG_00_0002.JPG" />
    </div>
    <div class="image-two">
        <img src="https://i.ytimg.com/vi/ht5Zqq-u-oU/maxresdefault.jpg" />
    </div>
    <div class="image-three">
        <img src="http://3.bp.blogspot.com/-pHocr1HEfSI/UNxA1HesvPI/AAAAAAAAXkc/7ZUzPQgJovE/s1600/kitchen-01.jpg" />
    </div>
</div>
<div class="second">
    <div class="feature-box">
        <ul>
            <li>Dampproof Treatment OP0</li>
            <li>Planning Permission</li>
            <li>Complete Refurbishment Required</li>
            <li>Structural Work Required</li>
            <li>Commercial Stables</li>
        </ul>
    </div>
</div>
<div class="bottom"></div>
<div class="summary">
    <div class="inner">
        <h2>Summary</h2>
        <p>A 1930's built three bedroom semi detached house offering scope for further development subject to planning permission being granted. The property is conveniently located for shops, schools and transport links and briefly comprises entrance hallway, lounge/dining room, kitchen, rear lean to, three bedrooms and bathroom off landing. Further benefits include double glazing, gas central heating, off street parking via own driveway, garage, well established private rear garden and a complete onward chain.</p>
    </div>
</div>
<div class="footer"></div>
<div class="footer-stripe"></div>
<div class="footer-logo">
    <div><img src="http://res.cloudinary.com/ultima-plus/image/upload/v1495521010/2d0394f0-3f81-11e7-94ba-d7a9456c62a7.gif" /></div>
</div>
<div class="footer-left">
    <div class="inner">
        <p>421, Alexandra Avenue, Rayners Lane, Harrow, HA2 9SG</p>
    </div>
</div>