.basic-grid{
  .table{
    margin-top:15px;
    margin-bottom:15px;

    td{
      .btn-group{
        box-shadow: none;

        .dropdown-menu{
          right: 0;
          left:auto;
          min-width: 130px;

          li{
            a{
              text-decoration: none;
            }
          }
        }
      }
    }
    tr.no-record-found{
      td:{
        padding-bottom:12px;
      }
    }
  }

  .footer{

    .btn-group{
      box-shadow: none;

      .btn{
        background-color: #f9f9f9;
        border-color: #e0e0e0;
        font-size: 11px;
        padding: .5em 0.6em .5em;
      }
    }
    .input-sm{
      height: 28px;
      line-height: 28px;
    }

    .page-summary{
        text-align:center;
        span{
          line-height: 28px;
          font-size:13px;
        }
    }
  }
}