.cascade-slider_container {
  height: 450px;
  margin: 0 auto;
  position: relative;

  .title{
    margin:0;
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
}

.cascade-slider_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition: all 1s ease;
  opacity: 0;
  z-index: -1;

  .image-container{
    position: relative;
  }

  img {
    background-color:#fff;
    padding:5px;
    border:solid 1px #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    width:300px;
  }

  &.now{
    img{
      padding:10px 5px;
      border:none;
      box-shadow:0 2px 4px rgba(0, 0, 0, 0.06);
    }
  }
}

.cascade-slider_item.next {
  left: 50%;
  transform: translateY(-50%) translateX(-150%) scale(0.6);
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.prev {
  left: 50%;
  transform: translateY(-50%) translateX(50%) scale(0.6);
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.now {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1);
  opacity: 1;
  z-index: 5;
}

.cascade-slider_arrow {
  display: inline-block;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 5;
  padding: 10px;
  font-size: 35px;
  border: solid 1px transparent;
  &:hover{
    border: solid 1px #ddd;
    background: #f9f9f9;
  }
}

.cascade-slider_arrow-left { left: 0; }

.cascade-slider_arrow-right { right: 0; }

.cascade-slider_nav {
  position: absolute;
  bottom:-50px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer;
}

.cascade-slider_dot:hover {
  background: #555;
}

.cascade-slider_dot.cur {
  background: #555;
}
