.choose-photos-modal{
  .gallery-item{
    cursor: pointer;

    &:hover {
      .panel {
        box-shadow: 0 1px 4px 0 rgb(63, 81, 181);
      }
    }

    .panel{
      .ribbon{
        display: block;
      }
    }
  }
}