.colorInputUi-wrap {
  position: relative;
  display: inline-block;
  width:100%;

  .block-picker{
    position: absolute !important;
    z-index: 1000 !important;
  }
}
.colorInputUi_hideInput {
  display: none;
}
.colorInputUi_hideInput .colorInputUi-clear {
  display: none;
}
.colorInputUi-dropdown {
  position: absolute;
  z-index: 9999;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.colorInputUi-dropdown,
.colorInputUi-dropdown * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.colorInputUi-dropdown * {
  padding: 0;
  margin: 0;
}
.colorInputUi_open {
  display: block;
}
.colorInputUi-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
}
.colorInputUi-trigger {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.colorInputUi-trigger span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.colorInputUi-wrap .colorInputUi-trigger {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 0 3px 3px 0;
}
.colorInputUi-input,
.colorInputUi-trigger {
  vertical-align: middle;
}
.colorInputUi-clear {
  position: absolute;
  top: 50%;
  right: 39px;
  display: none;
  font-family: "Material-Design-Iconic-Font";
  font-style: normal;
  font-weight: normal;
  color: #bdbdbd;
  -webkit-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.colorInputUi-clear,
.colorInputUi-clear:hover,
.colorInputUi-clear:active {
  text-decoration: none;
}
.colorInputUi-clear:after {
  content: '\f136';
}
.colorInputUi-wrap:hover .colorInputUi-clear {
  display: inline-block;
}
.colorInputUi-preview {
  float: left;
  list-style: none;
}
.colorInputUi-preview li {
  display: inline-block;
  vertical-align: top;
}
.colorInputUi-preview li span {
  display: block;
  height: 100%;
}
.colorInputUi-preview-previous {
  cursor: pointer;
}
.colorInputUi-palettes ul {
  display: block;
}
.colorInputUi-palettes ul:before,
.colorInputUi-palettes ul:after {
  display: table;
  content: "";
}
.colorInputUi-palettes ul:after {
  clear: both;
}
.colorInputUi-palettes li {
  display: block;
  float: left;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.colorInputUi-palettes li span {
  display: block;
  height: 100%;
}
.colorInputUi-saturation {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 175px;
  clear: both;
}
.colorInputUi-saturation i {
  position: absolute;
}
.colorInputUi-hue,
.colorInputUi-alpha {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 175px;
  cursor: pointer;
}
.colorInputUi-hue i,
.colorInputUi-alpha i {
  position: absolute;
  cursor: row-resize;
}
.colorInputUi-hue {
}
.colorInputUi-alpha {
}
.colorInputUi-buttons a,
.colorInputUi-gradient-control a {
  text-decoration: none;
  cursor: pointer;
}
.colorInputUi-gradient {
  display: none;
}
.colorInputUi-gradient_enable {
  display: block;
}
.colorInputUi-gradient-preview {
  float: left;
  height: 20px;
}
.colorInputUi-gradient-markers {
  position: relative;
  width: 100%;
  outline: none;
}
.colorInputUi-gradient-marker {
  position: absolute;
  outline: none;
}
.colorInputUi-gradient-wheel {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
}
.colorInputUi-gradient-wheel i {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
.colorInputUi-gradient-angle {
  float: left;
}
.colorInputUi-dropdown {
  min-width: 205px;
  max-width: 235px;
  padding: 10px;
  margin: 5px 0;
  background: #fff;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}
[data-mode="palettes"] .colorInputUi-dropdown {
  min-width: auto;
  max-width: auto;
}
.colorInputUi-dropdown input {
  -webkit-appearance: none;
  color: #757575;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear, -webkit-box-shadow .25s linear;
  -o-transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear, -webkit-box-shadow .25s linear;
  transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
  transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear, -webkit-box-shadow .25s linear;
}
.colorInputUi-dropdown input:focus {
  border-color: #3f51b5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(63, 81, 181, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(63, 81, 181, .6);
}
.colorInputUi-dropdown input.focus,
.colorInputUi-dropdown input:focus {
  border-color: #3f51b5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.colorInputUi-trigger {
  border: 4px solid #eee;
  border-left-width: 5px;
}
.colorInputUi-trigger:before {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  pointer-events: none;
  content: '';
  background: #e0e0e0;
}