﻿.ultima-diary{
    
    .page{
        .page-content{
            padding:0px;
            background-color:#fff;

            .panel-transparent{
                .panel-body{
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }

            .panel.diary-view{
                .panel-body{
                }

                .diary-actions{
                    padding:15px;
                    border-bottom:1px solid #e0e0e0;

                    .diary-title{
                        margin-bottom: 3px;
                        margin-top: 3px;
                        color:#757575;
                    }
                }
                .tab-content{

                    .diary-view-left{
                        padding-top:15px;
                        background-color:#f9f9f9;
                        border-right:1px solid #e0e0e0;

                        .panel-group{
                            .panel{
                                
                                .panel-heading{
                                    padding-top:0px;                           
                                }
                                .panel-body{
                                    padding-top:0px;
                                }
                            }
                        }
                    }
                    .diary-view-right{
                        padding-right:0;
                        padding-left:0;
                    }
            
                }

                .datepicker-inline-cntr{
                    text-align:center;

                    .datepicker-inline{
                        display:inline-block !important;
                    }
                }

                .list-group.calendar-list{

                    .list-group-item{
                        padding:2px 15px;
                    }
                }
            }
        }
    }

    .datepicker table tr td.today, 
    .datepicker table tr td.today:hover, 
    .datepicker table tr td.today.disabled, 
    .datepicker table tr td.today.disabled:hover{
        background-color: rgba(26,179,148,0.8);
        color:#fff;
        border-color:#1ab394;
    }

    .datepicker table tr td.today:active,
    .datepicker table tr td.today:hover, 
    .datepicker table tr td.today:hover:hover, 
    .datepicker table tr td.today.disabled:hover, 
    .datepicker table tr td.today.disabled:hover:hover{
        background-color: #1ab394;
        color:#fff;
        border-color:#1ab394;
    }

    .calendar-container{
        padding:15px;

        .fc-toolbar{
            h2{
                color:#a2a2a2;
                vertical-align:middle;
                font-size:14px;
                margin-top:5px;
            }
            .fc-state-default{
                color:#a2a2a2;
            }

            .fc-button.fc-month-button,
            .fc-button.fc-agendaWeek-button,
            .fc-button.fc-agendaDay-button {
                height: auto;
                padding: 6px 14px;
                font-size: 12px;
                text-transform: capitalize;
                background-image: none;
                background-color:#fff;
                border-color: #e0e0e0;
                outline:none;
              -webkit-box-shadow: none;
                      box-shadow: none;
            }
            .fc-button.fc-state-active, 
            .fc-button.fc-state-hover{
                background-position:inherit;
                background-color:#f9f9f9;
            }

            .fc-right{
                position:relative;
            }
        }

        .fc td.fc-widget-header{
            text-transform: capitalize;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 12px;
        }

        .fc-event{
            border-radius:2px;
        }

        .diary-view-list{
            .table{
                tr.header{
                    p{
                        margin-bottom: 0;
                    }
                    .date-info{
                        border-top:none;
                        p:first-child{
                            font-weight: 500;
                            text-align: center;
                        }
                        p:last-child{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                    .header-description{
                        vertical-align: bottom;
                        border-top:none;
                    }
                }
                tr{
                    .time{
                        border-left: solid 5px #1ab394;
                        color:#757575;
                        text-align: center;
                        vertical-align: middle;
                    }
                    .property{
                        .left{
                            width:20%;
                            float: left;
                            padding:0 10px;
                        }
                        .right{
                            width:80%;
                            float: right;
                            padding: 0 10px;

                            p{
                                margin-bottom: 2px;
                                font-size: 12px;
                            }
                            .address-text{
                                font-weight: 500;
                            }

                            .meeting-text{
                                margin-top:5px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}