.drop-zone-container{

  .panel{
    background-color: #f9f9f9;

    .close{
      padding: 10px;
    }
  }

  .drop-zone{
    border: dashed 2px #ddd;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    p{
      margin-bottom:3px;
      color: #ccc;
      font-weight: 500;
      font-size: 18px;
    }

    &.active{
      border-color: #5e8acf;
    }
  }
}
