.features-areas{

  .list-group{
    a.list-group-item:focus,
    a.list-group-item:hover,
    a.list-group-item.active{
      background-color: #eee;
      color: #3f51b5;
      box-shadow: none;
    }
  }
}