.app-gallery{
  .projects-sort-label {
    margin-right: 3px;
    cursor: default;
  }

  .dropdown-toggle {
    cursor: pointer;
  }

  .gallery-item {
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:first-child{
      .panel{
        .ribbon{
          display: block;
        }
      }
    }

    .panel {
      padding: 10px;
      margin-bottom: 0;

      .ribbon{
        display: none;
      }

      &:hover{
        .action-icons{
          display: block;
        }
      }

      .action-icons{
        display:none;
        .btn-icon{
          padding: 3px;
        }
      }

      .title-group{
        .input-sm{
          height: 22px;
          padding: 0px;
          border:none;
          font-size:14px;
          font-weight: 500;
        }
        .input-group-addon{
          padding: 2px 10px;
          background: transparent;
          border: none;
        }
      }
    }

    .blocks > li {
      margin-bottom: 30px;
    }

    .overlay {
      margin-bottom: 12px;
      overflow: visible;
      border-radius: 4px;

      .btn-group {
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .btn-icon {
        color: #bdbdbd;
      }

      .btn-icon:hover {
        color: white;
      }

      .dropdown .dropdown-menu > li > a {
        padding: 6px 8px;
      }

      .dropdown:hover .dropdown-toggle {
        color: #fff;
      }

      .dropdown:hover .dropdown-menu {
        display: block;
      }

      .dropdown-menu {
        min-width: 110px;
        margin-top: 0;
        color: #757575;
      }

      .dropdown-menu a {
        text-decoration: none;
      }

      .overlay-panel {
        background: rgba(38, 50, 56, .8);
      }
    }
  }
}