﻿
.label-group {
  display: inline-block;

  .label {
    cursor: pointer;
    padding: .6em 1.2em .6em;
    border-right: none;
    &.label-toggle {
      .icon {
        display: none;
      }
    }
    &.label-toggle.active {
      .icon {
        display: inline-block;
      }
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-right: 1px solid #e0e0e0;
    }

    &.active,
    &:hover {
      background-color: #f9f9f9;
    }
    &.disabled {
      background-color: transparent;
      opacity: 0.5;
    }
  }

  &.label-group-single {
    .label {
      border-radius: .3em;
    }
  }
}