.app-gallery {

  .property-rooms {
    .blocks {
      margin-right:0;
      margin-left: 0;

      .room-photo-item {
        padding-right: 5px;
        padding-left: 0;
        margin-bottom: 10px;

        .panel {
          background-color: #f9f9f9;
          padding: 10px;
          box-shadow: none;
          margin-bottom: 0;
        }
      }
    }

    .no-photos-linked-message{
      text-align: left;
    }

    .panel-group {

      .panel.panel-default {
        .panel-heading {
          background-color: #eee;
          border-color: #eee;

          .panel-title {
            padding: 0px;
            font-size: 14px;
            font-weight: 300;

            a {
              display: block;
              padding: 15px;
              cursor: pointer;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .panel-body {
          padding: 15px;
        }
        .panel-heading + .panel-collapse > .panel-body {
          border-color: #eee;
        }
      }
    }
  }
}