.site-menubar{
  .site-menubar-body{
    height: 100%;

    .site-sidebar-nav{
      li{
        a{
          line-height: 42px;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
    .site-sidebar-tab-content{
      .tab-pane{
        padding: 20px 20px;
        margin-bottom: 0px;

        .list-group{
          margin-right: -20px;
          margin-left: -20px;

          .list-group-item{
            padding-right: 5px;
            padding-left: 5px;
            cursor: pointer;

            &:hover{
              background: rgba(33,33,33,.05);
            }
            .icon-wrap{
              color: #ddd;
              &.active,
              &:hover{
                color: #da475a;
              }
            }
            .media{
              .media-left{
                padding: 0 5px;
                .avatar{
                  width: 50px;
                  img{
                    border-radius: 0;
                  }
                }
              }
              .media-body{
                .media-desc{
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }


    .side-menu-default {
      height:100%;
      .inner-container {
        height:100%;
        position:relative;

        .week-calendar {
          padding: 0;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;

          .rc-calendar {
            width: 100%;
            border-left: none;
            border-right:none;
            box-shadow: none;
          }

          .rc-calendar-tbody > tr:hover .rc-calendar-date {
            background: #ebfaff;
          }

          .rc-calendar-tbody > tr:hover .rc-calendar-selected-day .rc-calendar-date {
            background: #3fc7fa;
          }

          .week-calendar-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100px;
            border-right: 1px solid #ccc;
          }
        }
      }
    }

  }
}
