.site-menu{
  &.property-listing{
    .site-menu-item{
      border-bottom: 1px solid rgba(0, 0, 0, .04);

      &.active{
        border-top:none;
      }

      >a{
        padding: 5px 10px;
        font-weight: normal;

        .left{
          float : left;
          width: 20%;
        }
        .right{
          float: right;
          width: 80%;

          .address{
            white-space: pre-line;
            line-height: 16px;
            margin-bottom: 5px;
            font-size:13px;
          }
          .price{
            margin-bottom: 5px;
            line-height: 16px;
            font-size:13px;
            font-weight:400;
          }
        }

        img{
          width:40px;
          display:inline-block;
        }
      }
    }
    .no-item-found{
      padding: 15px;
      p{
        text-align: center;
        margin-bottom: 0;
        font-weight: 400;
        color: #757575;
      }
    }

    .page-summary{
      p{
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 10px;
        color: #757575;
      }

      [class*='col-']{
        padding-left: 0;
        padding-right:0;
      }

      .btn-group{
        box-shadow: none;
        padding-top: 8px;
        float: right;
        padding-right: 10px;
        .btn{
          padding: 4px;
        }
      }
    }
  }
}