.side-menu-diary{

  .calendar {
    padding:0 20px;

    .rc-calendar {
      width: 100%;
      border:none;
      box-shadow: none;
    }
  }

  .week-calendar{
    padding:0 20px;

    .rc-calendar {
      width: 100%;
      border:none;
      box-shadow: none;
    }

    .rc-calendar-tbody > tr:hover .rc-calendar-date {
      background: #ebfaff;
    }

    .rc-calendar-tbody > tr:hover .rc-calendar-selected-day .rc-calendar-date {
      background: #3fc7fa;
    }

    .week-calendar-sidebar {
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      width:100px;
      border-right: 1px solid #ccc;
    }
  }
}