.site-menu{
  &.contact-listing{

    .site-menu-item{
      border-bottom: 1px solid rgba(0, 0, 0, .04);

      &.active{
        border-top:none;
      }

      >a{
        padding: 6px;
        font-weight: normal;

        .left{
          float : left;
          width: 22%;

          .avatar{
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: #ddd;
            text-align: center;
            line-height: 30px;
            font-size: 12px;
            font-weight: 500;
            border: solid 5px #f2f2f2;
            position: relative;
            display: inline-block;
            white-space: nowrap;
            vertical-align: middle;
            color: #3949ab;
            text-decoration: none;
          }
        }
        .right{
          float: right;
          width: 78%;

          .address{
            white-space: pre-line;
            line-height: 16px;
            margin-bottom: 0px;
            font-size:13px;
          }
          .title{
            margin-bottom: 3px;
            margin-top: 0px;
            line-height: 15px;
            font-size:13px;
            font-weight:400;
          }
          .contact-type{
            white-space: pre-line;
            line-height: 13px;
            margin-bottom: 0px;
            font-size: 9px;
            color: #ccc;
          }
        }

        .title {
          font-weight: 400;
          color:#757575;
          line-height: 16px;
          margin-bottom: 5px;
          font-size: 13px;
        }

        .address{
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          white-space: pre-line;
        }
      }

      &.active{
        >a{
          .left{
            .avatar{
              border-color: #f9f9f9;
            }
          }
        }
      }
    }

    .no-item-found{
      padding: 15px;
      p{
        text-align: center;
        margin-bottom: 0;
        font-weight: 400;
        color: #757575;
      }
    }

    .page-summary{
      p{
        text-align: center;
        font-size: 12px;
        margin: 0;
        padding: 10px;
        color: #757575;
      }

      [class*='col-']{
        padding-left: 0;
        padding-right:0;
      }

      .btn-group{
        box-shadow: none;
        padding-top: 8px;
        float: right;
        padding-right: 10px;
        .btn{
          padding: 4px;
        }
      }
    }
  }
}