.tile-manager{

  &.no-left-margin{
    >.label{
      margin:0 2.5% 2.5% 0%;
    }
  }

  &.tile-odd-even{
    >.label{
      width:47.5%;
    }
    >.label:nth-child(odd){
      margin:2.5% 2.5% 2.5% 0%;
    }
    >.label:nth-child(even){
      margin:2.5% 0% 2.5% 2.5%;
    }
    >.label:first-child{
      margin-top:0;
    }
    >.label:nth-child(2){
      margin-top:0;
    }
  }

  >.label{
    cursor:pointer;
    padding: 0;
    margin:2.5% 2.5% 2.5% 2.5%;
    width:45%;
    display: block;
    float: left;
    height: 105px;

    &:hover{
      border:solid 1px #49B882;
      .label-group{
        display: block;
      }
    }

    .heading{
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      padding:10px 0;
    }
    .value-container{
      input{
        text-align: center;
        padding: 0;
        color: #49B882;
        font-size: 22px;
        font-weight: 400;
        border: none;
        outline: none;
        margin-bottom: 10px;
      }
      input[readonly]{
        background-color: transparent;
      }
    }
    .label-group{
      display: none;
      span{
        width:50%;
        float: left;
        display: block;
        border-bottom: 0;
        padding: 0.85em 0.9em 0.85em;
        font-size: 85%;
        border-radius: 0;

        &:first-child{
          border-left: none;
        }
        &:last-child{
          border-right: none;
        }
      }
    }
  }
}