.bootstrap-typeahead.open{

  .dropdown-menu{
    min-width:100%;
    top: 32px;

    li{


      a{
        border-bottom: solid 1px #f9f9f9;

        .contact-item {
          .name {
            margin-bottom: 0;
            font-weight: 400;
            line-height: 18px;
          }
          .address {
            margin-bottom: 0;
            font-size: 11px;
            font-weight: 300;
            line-height: 16px;
          }
          .contact-type{
            margin-bottom: 0px;
            font-size: 9px;
            color: #ccc;
            float:right;
          }
          .busy-indicator{
            font-size:10px;
            margin-bottom:0;
            padding-top:3px;
            color: #4caf50;
            font-weight: 400;
          }
        }

        .busy-contact{
          cursor:not-allowed;

          .name,
          .address,
          .contact-type{
            opacity: 0.5;
          }
        }

        .property-item{
          .address {
            margin-bottom: 0;
            font-weight: 300;
            font-size:13px;
          }
          .details{
            margin-bottom:0;

            .price{
              margin-right:5px;
              font-weight: 400;
            }
            .status-text{

            }
          }
        }
      }

      &:last-child{
        a{
          border-bottom: none;
        }
      }
    }
  }
}