// Name:            Buttons
//
// Component:       `btn`
//
// Modifiers:       `btn-block`
//                  `btn-lg`
//                  `btn-sm`
//                  `btn-xs`
//                  `btn-squared`
//                  `btn-round`
//                  `btn-default`
//                  `btn-primary`
//                  `btn-success`
//                  `btn-info`
//                  `btn-warning`
//                  `btn-danger`
//                  `btn-dark`
//                  `btn-flat`
//                  `btn-icon`
//                  `btn-raised`
//                  `btn-floating`
//                  `btn-animate`
//                  `btn-labeled`
//                  `btn-pill-left`
//                  `btn-pill-right`
//                  `btn-direction`
//                  `btn-pure`
//
// Markup:
//
// <!-- button -->
// <button type="button" class="btn">...</button>
//
// ========================================================================

// Variables
// ========================================================================

@btn-shadow:                             @box-shadow-1;

@btn-labeled-padding-horizontal:         8px;
@btn-labeled-xs-padding-horizontal:      4px;
@btn-labeled-sm-padding-horizontal:      6px;
@btn-labeled-lg-padding-horizontal:      14px;
@btn-labeled-label-bgColor:              rgba(0, 0, 0, 0.15);

@btn-color:                              @inverse;
@btn-bg:                                 transparent;
@btn-border:                             @border-color-base;

@btn-default-disabled-color:             @btn-default-color;
@btn-default-disabled-bg:                @gray-lightest;
@btn-default-disabled-border:            @btn-default-disabled-bg;

@btn-primary-disabled-color:             @color-white;
@btn-primary-disabled-bg:                @color-primary-400;
@btn-primary-disabled-border:            @btn-primary-disabled-bg;

@btn-success-disabled-color:             @color-white;
@btn-success-disabled-bg:                @color-green-400;
@btn-success-disabled-border:            @btn-success-disabled-bg;

@btn-info-disabled-color:                @color-white;
@btn-info-disabled-bg:                   @color-cyan-400;
@btn-info-disabled-border:               @btn-info-disabled-bg;

@btn-warning-disabled-color:             @color-white;
@btn-warning-disabled-bg:                @color-orange-400;
@btn-warning-disabled-border:            @btn-warning-disabled-bg;

@btn-danger-disabled-color:              @color-white;
@btn-danger-disabled-bg:                 @color-red-400;
@btn-danger-disabled-border:             @btn-danger-disabled-bg;

@btn-dark-disabled-color:                @color-white;
@btn-dark-disabled-bg:                   @gray;
@btn-dark-disabled-border:               @btn-dark-disabled-bg;

@btn-with-icon-margin:                   -1px 3px 0;

@btn-raised-shadow-top:                  @shadow-2-top;
@btn-raised-shadow-bottom:               @shadow-2-bottom;
@btn-raised-shadow-active-top:           @shadow-3-top;
@btn-raised-shadow-active-bottom:        @shadow-3-bottom;

@btn-flat-disabled-color:                @gray;

@btn-icon-xs-font-size:                  @font-size-small;
@btn-icon-sm-font-size:                  @font-size-base;
@btn-icon-lg-font-size:                  20px;

@btn-floating-size:                      56px;
@btn-floating-padding:                   14px;
@btn-floating-font-size:                 36px;

@btn-floating-shadow:                    @shadow-5-bottom;

@btn-floating-xs-size:                   30px;
/*@btn-floating-xs-padding:                10px;*/
@btn-floating-xs-font-size:              18px;

@btn-floating-sm-size:                   40px;
/*@btn-floating-sm-padding:                13px;*/
@btn-floating-sm-font-size:              26px;

@btn-floating-lg-size:                   70px;
/*@btn-floating-lg-padding:                15px;*/
@btn-floating-lg-font-size:              46px;

@btn-animate-side-padding:               8px 28px;
@btn-animate-side-xs-padding:            3px 14px;
@btn-animate-side-sm-padding:            6px 22px;
@btn-animate-side-lg-padding:            10px 33px;
@btn-animate-vertical-icon-font-size:    24px;
@btn-animate-vertical-xs-icon-font-size: 18px;
@btn-animate-vertical-sm-icon-font-size: 21px;
@btn-animate-vertical-lg-icon-font-size: 37px;


@btn-inverse-color:                      @text-color;
@btn-inverse-bg:                         @inverse;
@btn-inverse-border:                     @btn-default-border;
@btn-inverse-hover-bg:                   @inverse;
@btn-inverse-hover-border:               @btn-default-hover-border;
@btn-inverse-active-bg:                  @inverse;
@btn-inverse-active-border:              @btn-default-active-border;
@btn-inverse-disabled-color:             @gray-light;
@btn-inverse-disabled-bg:                @inverse;
@btn-inverse-disabled-border:            @btn-dark-disabled-bg;


@btn-pure-default-color:                 @gray;
@btn-pure-default-hover-color:           @gray-light;

@btn-pure-primary-color:                 @brand-primary;
@btn-pure-primary-hover-color:           @brand-primary-400;

@btn-pure-success-color:                 @brand-success;
@btn-pure-success-hover-color:           @brand-success-400;

@btn-pure-info-color:                    @brand-info;
@btn-pure-info-hover-color:              @brand-info-400;

@btn-pure-warning-color:                 @brand-warning;
@btn-pure-warning-hover-color:           @brand-warning-400;

@btn-pure-danger-color:                  @brand-danger;
@btn-pure-danger-hover-color:            @brand-danger-400;

@btn-pure-dark-color:                    @brand-dark;
@btn-pure-dark-hover-color:              @brand-dark-hover;

@btn-pure-inverse-color:                 @inverse;
@btn-pure-inverse-hover-color:           @btn-inverse-hover-bg;

// Component: Button
// ========================================================================

.btn {
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;

  &,
  &:active,
  &.active {
    &:focus {
      outline: 0;
    }
  }

  &:active,
  &.active {
    box-shadow: none;
  }

  // Button with icon
  .icon {
    .icon-fixed-width();
    line-height: inherit;
    margin: @btn-with-icon-margin;
  }
}

// Modifier: `btn-link`
// -------------------------

.btn-link {
  box-shadow: none;
}

// Modifier: `btn-block`
// -------------------------

.btn-block {
  white-space: normal;
}

// Size Modifier
// ========================================================================

.btn-lg {
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

.btn-sm {
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

// Border Radius Modifier
// ========================================================================

// Modifier: `btn-squared`
// -------------------------

.btn-squared {
  border-radius: 0;
}

// Modifier: `btn-round`
// -------------------------

.btn-round {
  border-radius: 1000px;
}

// Color Modifier
// ========================================================================

// Modifier: `btn-default`
// -------------------------

.btn-default {
  .button-styles-variant('default');
}

// Modifier: `btn-primary`
// -------------------------

.btn-primary {
  .button-styles-variant('primary');
}

// Modifier: `btn-success`
// -------------------------

.btn-success {
  .button-styles-variant('success');
}

// Modifier: `btn-info`
// -------------------------

.btn-info {
  .button-styles-variant('info');
}

// Modifier: `btn-warning`
// -------------------------

.btn-warning {
  .button-styles-variant('warning');
}

// Modifier: `btn-danger`
// -------------------------

.btn-danger {
  .button-styles-variant('danger');
}

// Modifier: `btn-inverse`
// -------------------------

.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
  .button-styles-variant('inverse');
}

// Modifier: `btn-dark`
// -------------------------

.btn-dark {
  .button-variant(@btn-dark-color; @btn-dark-bg; @btn-dark-border);
  .button-styles-variant('dark');

  &:hover,
  &:focus {
    color: @inverse;
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @inverse;
  }

  &.btn-flat {
    color: @btn-dark-bg;
  }
}

// Modifier: `btn-flat`
// ========================================================================

.btn-flat {
  background: none;
  border: none;
  box-shadow: none;
  &:hover,
  &:focus {
    box-shadow: none;
  }
  &.disabled {
    color: @btn-flat-disabled-color;
  }
}


// Modifier: `btn-icon`
// ========================================================================

.btn-icon, .btn.icon {
  padding: 10px;
  font-size: @font-size-icon;
  line-height: 1em;

  &.btn-xs {
    padding: 4px;
    font-size: @btn-icon-xs-font-size;
  }
  &.btn-sm {
    padding: 8px;
    font-size: @btn-icon-sm-font-size;
  }
  &.btn-lg {
    padding: 12px;
    font-size: @btn-icon-lg-font-size;
  }
  &.disabled {
    color: @btn-flat-disabled-color;
  }
}

.btn-icon {
  .icon {
    margin: -1px 0 0;
  }
}

// Modifier: `btn-raised`
// ========================================================================

.btn-raised {
  .btn-raised-shadow();

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
  }
}

// Modifier: `btn-floating`
// ========================================================================

.btn-floating {
  width: @btn-floating-size;
  height: @btn-floating-size;
  padding: 0;
  margin: 0;
  font-size: @btn-floating-font-size;
  text-align: center;
  border-radius: 100%;

  box-shadow: @btn-floating-shadow;
  &.btn-xs {
    width: @btn-floating-xs-size;
    height: @btn-floating-xs-size;
    padding: 0;
    font-size: @btn-floating-xs-font-size;
  }
  &.btn-sm {
    width: @btn-floating-sm-size;
    height: @btn-floating-sm-size;
    padding: 0;
    font-size: @btn-floating-sm-font-size;
  }
  &.btn-lg {
    width: @btn-floating-lg-size;
    height: @btn-floating-lg-size;
    padding: 0;
    font-size: @btn-floating-lg-font-size;
  }
  i {
    position: relative;
    top: 0;
  }
}


// Modifier: `btn-animate`
// ========================================================================

.btn-animate {
  position: relative;
  overflow: hidden;

  span {
    display: block;
    width: 100%;
    height: 100%;

    .translate(0px, 0px);
  }

  &-side {
    padding: @btn-animate-side-padding;

    span {
      transition: transform 0.2s ease-out 0s;

      > .icon {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        opacity: 0;
        .translate(-20px, -50%);
        transition: opacity .2s ease-out 0s;
      }
    }

    &:hover {
      span {
        .translate(10px, 0px);

        > .icon {
          opacity: 1;
        }
      }
    }

    &.btn-xs {
      padding: @btn-animate-side-xs-padding;

      span {
        > .icon {
          left: 5px;
        }
      }

      &:hover {
        span {
          .translate(8px, 0px);
        }
      }
    }

    &.btn-sm {
      padding: @btn-animate-side-sm-padding;

      span {
        > .icon {
          left: 3px;
        }
      }

      &:hover {
        span {
          .translate(8px, 0px);
        }
      }
    }

    &.btn-lg {
      padding: @btn-animate-side-lg-padding;

      span {
        > .icon {
          left: -6px;
        }
      }

      &:hover {
        span {
          .translate(14px, 0px);
        }
      }
    }
  }

  &-vertical {
    span {
      transition: all 0.2s ease-out 0s;

      > .icon {
        position: absolute;
        top: -2px;
        left: 50%;
        display: block;
        font-size: @btn-animate-vertical-icon-font-size;
        .translate(-50%, -100%);
      }
    }

    &:hover {
      span {
        .translate(0, 150%);
      }
    }

    &.btn-xs {
      span {
        > .icon {
          top: -5px;
          font-size: @btn-animate-vertical-xs-icon-font-size;
        }
      }
    }

    &.btn-sm {
      span {
        > .icon {
          top: -3px;
          font-size: @btn-animate-vertical-sm-icon-font-size;
        }
      }
    }

    &.btn-lg {
      span {
        > .icon {
          font-size: @btn-animate-vertical-lg-icon-font-size;
        }
      }
    }
  }
}

// Modifier: `btn-labeled`
// ========================================================================

.btn-labeled {
  padding: 0;

  .btn-labeled-variant(@btn-labeled-padding-horizontal; @padding-base-vertical; @btn-labeled-padding-horizontal);

  &.btn-xs {
    .btn-labeled-variant(@padding-xs-horizontal; @padding-xs-vertical; @btn-labeled-xs-padding-horizontal);
  }

  &.btn-sm {
    .btn-labeled-variant(@padding-small-horizontal; @padding-small-vertical; @btn-labeled-sm-padding-horizontal);
  }

  &.btn-lg {
    .btn-labeled-variant(@btn-labeled-lg-padding-horizontal; @padding-large-vertical; @btn-labeled-lg-padding-horizontal);
  }

  &.btn-block {
    text-align: left;
  }
}

.btn-label {
  display: inline-block;
  background-color: @btn-labeled-label-bgColor;
  border-radius: @border-radius-base 0 0 @border-radius-base;
}


// Pill Modifier
// ========================================================================

.btn-pill-left {
  border-radius: 500px 0 0 500px;
}

.btn-pill-right {
  border-radius: 0 500px 500px 0;
}

// Direction Modifier
// ========================================================================

.btn-direction {
  position: relative;
  &:before {
    position: absolute;
    line-height: 0;
    content: '';
    border: 8px solid transparent;
  }
}


// Modifier: `btn-up`
// -------------------------

.btn-up:before {
  top: -16px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: @border-color-base;
}


// Modifier: `btn-right`
// -------------------------

.btn-right:before {
  top: 50%;
  right: -16px;
  margin-top: -8px;
  border-left-color: @border-color-base;
}

// Modifier: `btn-bottom`
// -------------------------

.btn-bottom:before {
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top-color: @border-color-base;
}

// Modifier: `btn-left`
// -------------------------

.btn-left:before {
  top: 50%;
  left: -16px;
  margin-top: -8px;
  border-right-color: @border-color-base;
}

// Modifier: `btn-pure`
// ========================================================================

.btn-pure {
  &,
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle&,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus,
    &.focus {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.btn-default {
    .button-pure-variant(@btn-pure-default-color; @btn-pure-default-hover-color);
  }

  &.btn-primary {
    .button-pure-variant(@btn-pure-primary-color; @btn-pure-primary-hover-color);
  }

  &.btn-success {
    .button-pure-variant(@btn-pure-success-color; @btn-pure-success-hover-color);
  }

  &.btn-info {
    .button-pure-variant(@btn-pure-info-color; @btn-pure-info-hover-color);
  }

  &.btn-warning {
    .button-pure-variant(@btn-pure-warning-color; @btn-pure-warning-hover-color);
  }

  &.btn-danger {
    .button-pure-variant(@btn-pure-danger-color; @btn-pure-danger-hover-color);
  }

  &.btn-dark {
    .button-pure-variant(@btn-pure-dark-color; @btn-pure-dark-hover-color);
  }

  &.btn-inverse {
    .button-pure-variant(@btn-pure-inverse-color; @btn-pure-inverse-hover-color);
  }
}



// Mixins
// ========================================================================

.btn-raised-shadow() {
  .shadow(@btn-raised-shadow-top; @btn-raised-shadow-bottom);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    .shadow(@btn-raised-shadow-active-top; @btn-raised-shadow-active-bottom);
  }
}

.btn-labeled-variant(@padding-right; @label-padding-vertical; @label-padding-horizontal) {
  padding-right: @padding-right;

  .btn-label {
    padding: @label-padding-vertical @label-padding-horizontal;
    margin-right: (@padding-right - 3px);
  }
}

.button-styles-variant(@styles) {
  @color: %('btn-%s-color', @styles);
  @background: %('btn-%s-bg', @styles);
  @border: %('btn-%s-border', @styles);
  @hover-bg: %('btn-%s-hover-bg', @styles);
  @hover-border: %('btn-%s-hover-border', @styles);
  @active-bg: %('btn-%s-active-bg', @styles);
  @active-border: %('btn-%s-active-border', @styles);
  @disabled-color: %('btn-%s-disabled-color', @styles);
  @disabled-bg: %('btn-%s-disabled-bg', @styles);
  @disabled-border: %('btn-%s-disabled-border', @styles);

  &:hover,
  &:focus,
  &.focus {
    background-color: @@hover-bg;
    border-color: @@hover-border;
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-color: @@active-bg;
    border-color: @@active-border;

    &:hover,
    &:focus,
    &.focus {
      background-color: @@active-bg;
      border-color: @@active-border;
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: @@disabled-color;
      background-color: @@disabled-bg;
      border-color: @@disabled-border;
    }
  }

  .button-direction-variant(@@background; @@hover-bg; @@active-bg);
}

.button-pure-variant(@color; @active-color;) {
  color: @color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @active-color;

    &:hover,
    &:focus,
    &.focus {
      color: @active-color;
    }

    .badge {
      color: @active-color;
    }
  }
}

.button-direction-variant(@background; @hover-border; @active-border) {
  &.btn-up {
    &:before {
      border-bottom-color: @background;
    }

    .button-direction-states-variant(up; @hover-border; @active-border);
  }

  &.btn-right {
    &:before {
      border-left-color: @background;
    }

    .button-direction-states-variant(right; @hover-border; @active-border);
  }

  &.btn-bottom {
    &:before {
      border-top-color: @background;
    }

    .button-direction-states-variant(bottom; @hover-border; @active-border);
  }

  &.btn-left {
    &:before {
      border-right-color: @background;
    }

    .button-direction-states-variant(left; @hover-border; @active-border);
  }
}

.button-direction-states-variant(@direction; @hover-border; @active-border) {
  &:hover,
  &:focus {
    &:before {
      .direction-hover-variant(@direction);
    }
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    &:before {
      .direction-active-variant(@direction);
    }
  }

  .direction-hover-variant(@direction) when (@direction = up) {
    border-bottom-color: @hover-border;
  }

  .direction-hover-variant(@direction) when (@direction = right) {
    border-left-color: @hover-border;
  }

  .direction-hover-variant(@direction) when (@direction = bottom) {
    border-top-color: @hover-border;
  }

  .direction-hover-variant(@direction) when (@direction = left) {
    border-right-color: @hover-border;
  }

  .direction-active-variant(@direction) when (@direction = up) {
    border-bottom-color: @active-border;
  }

  .direction-active-variant(@direction) when (@direction = right) {
    border-left-color: @active-border;
  }

  .direction-active-variant(@direction) when (@direction = bottom) {
    border-top-color: @active-border;
  }

  .direction-active-variant(@direction) when (@direction = left) {
    border-right-color: @active-border;
  }
}
