.chart-section{
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  .chart-container{
    display: inline-block;
  }

  .header{
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(221, 221, 221, 0.21);

    .btn-group {
      box-shadow: none;

      .btn-xs {
        background-color: #fff;
        padding: 2px 8px;
        font-size: 10px;
        font-weight: 400;

        &.active {
          background-color: #ddd;
          border-radius: 3px;
        }
      }
    }
  }
}