// Load skin source
// ----------------
@import "less/skin.less";

// Override variables
// ------------------
@color-primary: 'yellow';
@site-navbar-header-bg: @brand-primary;

@brand-primary:         @color-primary-700;
@brand-primary-hover:   @color-primary-600;
@brand-primary-active:  @color-primary-800;
