.dashboard-page{
  .page-content{
    padding: 0px;
  }

  .nav-tabs-horizontal{
    .nav-tabs{
      li{
        a{
          padding:10px 15px;
        }
      }
    }

    .tab-content{
      padding: 0;
      .scrolling-area{
        padding: 20px;
      }
    }
  }

  @import "dashboard/chart-section";
  @import "property-detail/overview-viewings";
  @import "property-detail/overview-appointments";
  @import "property-detail/overview-offers";
}