.page-diary{
  background-color: #fff;

  .page-content{
    .diary-sidebar{

      .calendar-tag-list{

        .list-group-item{
          padding:2px 15px;
        }
      }
    }
  }

  .header-actions{
    padding:15px 0px 15px 0px;
    border-bottom:1px solid #e0e0e0;

    .title{
      margin-bottom: 3px;
      margin-top: 3px;
      color:#757575;
    }
  }

  .calendar-container {
    padding: 15px 0;
  }
}
