.page-forgot-password {
  background-color: #eee;

  .page{
    .page-content{
      .panel{
          background-color: transparent;
          box-shadow: none;
      }
    }
  }
  p {
    color: #9e9e9e;
  }
  form {
    width: 250px;
    margin: 30px auto;
  }

  .brand{
    .brand-img{
      width:120px;
    }
  }
}
