.page.page-settings{
  .page-content{
    min-height: inherit;
    padding-right:0;

    .nav-tabs-vertical{
      min-height: inherit;

      .nav.nav-tabs,
      .tab-content{
        min-height: inherit;
      }

      .tab-content{
        padding:15px;

        .header{
          h3,
          h5{
            text-align: center;
          }
          h3{
            color:#757575;
            font-size: 18px;
            margin-bottom:15px;
            margin-top:0;
          }
          h5{
            margin-bottom: 15px;
            font-weight: 300;
            .highlight{
              font-weight: 400;
            }
          }
          border-bottom:solid 1px #f9f9f9;
          margin-bottom: 30px;
        }

        @import "settings/invite-people";
        @import "settings/google-calendar";
        @import "settings/users";
      }
    }
  }
}