.google-calendar{

  .add-person-block{
    width:100%;
    padding:10px 15px;
    border: solid 1px #eee;
    border-radius: 3px;
    text-align: left;
    margin-bottom:15px;
    background-color: #f9f9f9;

    .icon{
      font-weight: 500;
      margin-right:5px;
    }
    a{
      font-weight: 500;
    }
  }

  .btn.btn-success{
    padding:15px 25px;
    font-weight:500;
    float:right;
  }

  .message{
    text-align: left;
    margin-bottom: 20px;
  }

  .form-horizontal{
    label{
      font-weight: 500;
    }
  }

  .back-button{
    font-weight: 500;
    .icon{
      font-weight: 500;
      margin-right:5px;
    }
  }

  .calendar-listing{

    .listing-item{
      width:100%;
      padding:10px 15px;
      border: solid 1px #eee;
      border-radius: 3px;
      text-align: left;
      margin-bottom:5px;
      background-color: #f9f9f9;

      .icon{
        font-weight: 500;
        margin-right:5px;
      }
      a{
        font-weight: 500;
      }
    }
  }
}