.invite-people {

  .invitation-form {
    .add-people-block {
      width: 100%;
      padding: 10px 15px;
      border: solid 1px #eee;
      border-radius: 3px;
      text-align: left;
      margin-bottom: 15px;
      background-color: #f9f9f9;

      .icon {
        font-weight: 500;
        margin-right: 5px;
      }
      a {
        font-weight: 500;
      }
    }

    .btn.btn-success {
      padding: 15px 25px;
      font-weight: 500;
      float: right;
    }

    .message {
      text-align: left;
      margin-bottom: 20px;
      padding-left: 5px;
    }
  }
}