.fc button {
  cursor: pointer;
  padding: .6em 1.2em .6em;
  color: #757575;
  font-weight: 500;
  border: 1px solid #e0e0e0;
  font-size: 75%;
  display: inline;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/* Firefox has an annoying inner border */
.fc button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}
.fc-state-default {
  /* non-theme */
  border: 1px solid;
}

.fc-state-default.fc-corner-left {
  /* non-theme */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
  /* non-theme */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* icons in buttons */
.fc button .fc-icon {
  position: relative;
  top: -.05em;
  margin: 0 .2em;
  vertical-align: middle;
}

.fc-state-default {
  background-color: transparent;
  text-transform: capitalize;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #e6e6e6;
}
.fc-state-hover {
  background-color: #eeeeee;
}

.fc-state-down,
.fc-state-active {
  background-color: #f5f5f5;
}

.fc-state-disabled {
  cursor: default;
  background-image: none;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}