/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/
.fc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1em;
  text-align: center;

  &:after{
    position: relative;
    margin: 0 -1em;
  }
}

.fc-icon-left-single-arrow:after {
  top: -7%;
  left: 3%;
  font-size: 200%;
  font-weight: bold;
  content: "\02039";
}

.fc-icon-right-single-arrow:after {
  top: -7%;
  left: -3%;
  font-size: 200%;
  font-weight: bold;
  content: "\0203A";
}

.fc-icon-left-double-arrow:after {
  top: -7%;
  font-size: 160%;
  content: "\000AB";
}

.fc-icon-right-double-arrow:after {
  top: -7%;
  font-size: 160%;
  content: "\000BB";
}

.fc-icon-left-triangle:after {
  top: 3%;
  left: -2%;
  font-size: 125%;
  content: "\25C4";
}

.fc-icon-right-triangle:after {
  top: 3%;
  left: 2%;
  font-size: 125%;
  content: "\25BA";
}

.fc-icon-down-triangle:after {
  top: 2%;
  font-size: 125%;
  content: "\25BC";
}
.fc-icon-x:after {
  top: 6%;
  font-size: 200%;
  content: "\000D7";
}