/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/
.fc-divider {
  border-style: solid;
  border-width: 1px;
}
hr.fc-divider {
  height: 0;
  padding: 0 0 2px;
  margin: 0;
  /* height is unreliable across browsers, so use padding */
  border-width: 1px 0;
}
.fc-clear {
  clear: both;
}
.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  /* these element should always cling to top-left/right corners */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.fc-bg {
  bottom: 0;
  /* strech bg to bottom edge */
}
.fc-bg table {
  height: 100%;
  /* strech bg to bottom edge */
}