/* Scrolling Container
--------------------------------------------------------------------------------------------------*/
.fc-scroller {
  overflow-x: hidden;
  /* this class goes on elements for guaranteed vertical scrollbars */
  overflow-y: scroll;
}
.fc-scroller > * {
  /* we expect an immediate inner element */
  position: relative;
  /* re-scope all positions */
  width: 100%;
  /* hack to force re-sizing this inner element when scrollbars appear/disappear */
  overflow: hidden;
  /* don't let negative margins or absolute positioning create further scroll */
}