.fc-toolbar {
  margin-bottom: 1em;
  text-align: center;

  .fc-left {
    float: left;
  }
  .fc-right {
    float: right;
  }
  .fc-center {
    display: inline-block;
  }

  h2 {
    margin:4px 0 0 0;
    font-size: 15px;
    color: #757575;
  }

  button {
    position: relative;
  }

  .fc-state-hover,
  .ui-state-hover {
    z-index: 2;
  }

  .fc-state-down {
    z-index: 3;
  }

  .fc-state-active,
  .ui-state-active {
    z-index: 4;
  }

  button:focus {
    z-index: 5;
  }
}

/* the things within each left/right/center section */
.fc .fc-toolbar > * > * {
  /* extra precedence to override button border margins */
  float: left;
  margin-left: .75em;
}


/* the first thing within each left/center/right section */
.fc .fc-toolbar > * > :first-child {
  /* extra precedence to override button border margins */
  margin-left: 0;
}



