.describe-property {
  .list-group {
    .list-group-item {
      background-color: #f9f9f9;

      .media{
        .media-heading{
          font-weight: 400;
        }
        .media-left{
          .avatar{
            width:85px;
            img{
              border-radius: 0;
            }
          }
        }
        .price{
          font-weight: 400;
        }
      }
    }
  }
}