.details-to-vendor{

  .applicant-list{
    margin-top:15px;
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 5px;

    .applicants-list-group{
      .list-group-item{
        background-color: #f9f9f9;
        &.active{
          background-color: #fff;
        }
      }
    }
  }
  .footer{
    margin-top: 5px;
    padding-top: 3px;

    .updated-by{
      color: #ccc;
      margin-bottom: 0;
      font-size: 11px;
      font-weight: 300;

      .details {
        float: left;
      }
      .date{
        float: right;
        .icon{
          margin-right:5px;
        }
      }
    }
  }
}