.modal-viewing-confirmation{
  &.modal-dialog {
    width: 80%;
  }

  .table-section{
    tbody{
      tr{
        td{
          vertical-align: top;
        }
      }
    }
  }

  .modal-body{
    min-height: -moz-calc(100% - 18px);
    min-height: -webkit-calc(100% - 18px);
    min-height: calc(100% - 18px);

    .heading{
      font-size: 14px;
      font-weight: 400;
      border-bottom: solid 1px rgba(233, 30, 99, 0.17);
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #e91e63;
      margin-bottom: 5px;
    }
    .email-delivery-info{
      text-align: right;
      font-size: 12px;
      color: #ccc;
    }

    .applicant-list{

      .applicants-list-group{
        .list-group-item{
          background-color: #f9f9f9;
          &.active{
            background-color: #fff;
          }
          a{
            text-decoration: none;
          }
        }
      }
    }

    .footer{
      margin-top: 5px;
      padding-top: 3px;

      .updated-by{
        color: #ccc;
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 300;

        .details {
          float: left;
        }
        .date{
          float: right;
          .icon{
            margin-right:5px;
          }
        }
      }
    }

    .error-message{
      margin-top: 10px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .filters {
    text-align: right;

    .label {
      cursor: pointer;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0px;
      background-color: #f9f9f9;

      &:hover{
        background-color: #f5f5f5;
      }
      &.active {
        background-color: #fff;
      }
      &:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0px;
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }
      &:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        border-right-width: 1px;
      }
    }
  }

  .detail-container {
    position: relative;

    .detail {
      border: solid 1px #eee;
      margin-left: 15px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      right:0;
      bottom: 0;
      top:0;

      .header {
        background-color: #f9f9f9;
        border-bottom: solid 1px #eee;

        h4 {
          margin: 0;
          padding: 15px;
          font-size: 13px;
          color: #757575;
          text-transform: uppercase;

          .close-button {
            float: right;
            cursor: pointer;
            &:hover {
              color: #ddd;
            }
          }
        }
      }

      .content {
        padding: 15px;

        .actions {
          padding: 10px 0;
        }

        .activities-container {
          position: relative;

          .activities {
            list-style-type: none;
            padding-left: 25px;
            padding-top: 20px;

            &::before {
              content: '';
              position: absolute;
              left: -2px;
              top: 8px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: 1px solid #e9e9e9;
              background: #fff;
              z-index: 1;
            }
            &::after {
              content: '';
              position: absolute;
              top: 10px;
              left: 3px;
              width: 2px;
              bottom: 0px;
              background: #e9e9e9;
            }

            .activity {
              position: relative;
              margin-bottom: 15px;
              color: #7a7a79;
              border: solid 1px #f9f9f9;
              padding: 6px 10px;
              border-radius: 5px;
              background: rgba(249, 249, 249, 0.3);

              .status-icon {
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                position: absolute;
                left: -33px;
                margin-top: -11px;
                width: 22px;
                height: 22px;
                border-radius: 22px;
                z-index: 1;
                top: 3px;
                text-align: center;
                line-height: 18px;

                .icon {
                  font-size: 10px;
                }
              }

              &:first-child {
                margin-top: 30px;
              }

              .title {
                font-weight: 400;
                line-height: 20px;
                font-size: 11px;
                text-transform: uppercase;
                margin-bottom: 5px;
              }

              .info {
                margin-bottom: 0;

                &:after {
                  visibility: hidden;
                  display: block;
                  font-size: 0;
                  content: " ";
                  clear: both;
                  height: 0;
                }

                div {
                  width: 50%;
                  float: left;
                  span {
                    font-weight: 300;
                    line-height: 22px;
                    font-size: 11px;
                  }
                  .label {
                    margin-left: 15px;
                    cursor: pointer;
                    &:hover {
                      background-color: #f9f9f9;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .viewing-feedback{
    .icons{
      text-align: right;
      margin-bottom: 5px;

      a{
        margin-right : 10px;
        cursor: pointer;
        color: #ccc;
        &:hover{
          color: #ccc;
        }

        &.like{
          color:#4caf50;
        }
        &.dislike{
          color:#f44336;
        }

        &:last-child{
          margin-right: 0;
        }
      }

    }
  }
}