.nav-tabs-horizontal{

  .nav-tabs{
    border-bottom: none;
  }
  .nav-tabs-solid>li{
    &:first-child{
      margin-left:15px;
    }
  }

  .nav-tabs-solid>li.active>a,
  .nav-tabs-solid>li.active>a:focus,
  .nav-tabs-solid>li.active>a:hover{
    border-color: #eee;
    background-color: #fff;
    bottom: -1px;
    border-bottom: none;
  }

  .nav-tabs-solid~.tab-content{
    padding:0px;
    border-top: solid 1px #eee;
    background-color: transparent;

    .content-area{
      padding:15px 0px 0px 0px;
    }
    .scroll-area{
      padding:0 1px;
      margin-top:15px;
    }
  }
}