.panel-group{

  .panel.panel-default{
    .panel-heading {
      background-color: #f9f9f9;
      border-color: #f9f9f9;

      .panel-title {
        padding: 0px;
        font-size: 14px;
        font-weight: 300;

        a {
          display: block;
          padding: 15px;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .panel-body{
      padding: 15px;
    }
    .panel-heading+.panel-collapse>.panel-body{
      border-color: #f9f9f9;
    }
  }
}

//.panel-group{
//  .panel {
//    border-radius: 0;
//
//    .panel-heading{
//      background-color: #f9f9f9;
//      border:solid 1px #e0e0e0;
//      border-bottom: none;
//
//      .panel-title{
//        cursor: pointer;
//        a{
//          text-decoration: none;
//          font-weight: 200;
//          padding:15px;
//          display: block;
//        }
//      }
//    }
//
//    .panel-heading+.panel-collapse .panel-body{
//      border: solid 1px #e0e0e0;
//      border-bottom:none;
//    }
//
//    &:first-child{
//      border-radius: 4px 4px 0 0;
//    }
//    &:last-child{
//      border-radius: 0 0 4px 4px;
//
//      .panel-heading+.panel-collapse .panel-body{
//        border: solid 1px #e0e0e0;
//      }
//    }
//
//  }
//  .panel + .panel{
//    margin-top: 0;
//    .panel-heading{
//      border-radius: 0;
//    }
//  }
//
//
//}