.list-group.applicants-list-group{
  margin-bottom: 0;

  .list-group-item{
    background-color: #f9f9f9;
    position: relative;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);

    &.active{
      background-color: #eee;
    }

    a {
      display: block;
      color: #757575;
      &:hover,
      &:focus{
        text-decoration: none;
      }

      .title {
        margin-bottom: 0;
        font-weight: 400;
        line-height: 18px;
        font-size: 13px;

        .contact-type{
          margin-bottom: 0px;
          font-size: 9px;
          color: #ccc;
          float:right;
          margin-right: 15px;
        }

      }
      .address {
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 300;
        line-height: 16px;
      }
      .email {
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 300;
        line-height: 16px;
      }
      .phone {
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 300;
        line-height: 16px;
      }
      .busy-indicator{
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 300;
        line-height: 16px;
        color:#f44336;
      }
    }
    .remove{
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      margin:2px;
      display: none;

      .icon{
        margin:6px;
      }
      &:hover{
        cursor: pointer;
        .icon{
          font-weight: bold;
        }
      }
    }

    &:hover{
      .remove{
        display: inline-block;
      }
    }
  }
}